.house {
  display: flex;
  align-items: center;
  justify-content: center;
}

.house:first-child {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 7;
}

.house:nth-child(2) {
  grid-column-start: 10;
  grid-column-end: 16;
  grid-row-start: 1;
  grid-row-end: 7;
}

.house:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 10;
  grid-row-end: 17;
}

.house:nth-child(4) {
  grid-column-start: 10;
  grid-column-end: 16;
  grid-row-start: 10;
  grid-row-end: 16;
}

.red {
  background-color: #e53935;
}

.green {
  background-color: #66bb6a;
}

.yellow {
  background-color: #fff176;
}

.blue {
  background-color: #29b6f6;
}

.box {
  width: 220px;
  height: 180px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  justify-content: center;
  align-items: center;
  gap: 1.5em 2em;
}

.tokenBox {
  width: 47px;
  height: 47px;
}
